/* Style Sheet for Samantha Winchester Flowers */

/* Variables */
$mainColor: #ffe5fe;
$whiteColor: #ffffff;
$golden: #c9b932;
$mainFont: Didot;

@font-face {
  font-family: Kon Tiki Enchanted JF Regular;
  src: url("../fonts/Kon Tiki Enchanted JF Regular.ttf");
}

body {
  background-color: $whiteColor;
}

.content {
  width: 80%;
  margin: auto;
}

h1 {
  font-family: Kon Tiki Enchanted JF Regular;
  font-size: 40pt;
 }

h2 {
  font-family: $mainFont;
  font-size: 12pt;
}
 
h3 {
  font-family: $mainFont;
  font-size: 14pt;
}

p{
  font-family: $mainFont;
  font-size: 14pt;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
  background-color: $whiteColor;
  border-color: #f4f2f4 $whiteColor #f4f2f4 $whiteColor;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      font-family: $mainFont;

      li a{
        background-color: $whiteColor;
        border-left: 1px solid #f4f2f4;
        border-right: 1px solid #f4f2f4; 
        color: $golden;
        font-size: 12pt;

        &:link{
        }

        &:hover{
          color: $golden;

        }

        &:active{
          background-color: #f4f2f4;
          color: $golden;
        }
      }

    }

    .navbar-collapse {
      text-align: center;
    }

}

/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
  padding: 0;
  background-color: $whiteColor;

  .container {
    margin: 0;
    padding: 0;
  }
}

.headerImage {
  width: 100vw;
}

.introduction {
    
  img {
    width: 40%;
    margin-right: 20px; 
    float:left;
  }

  .img-circle {
    border-radius: 50%;
  }

  .intro-paragraph {
    padding: 10px;
  }
}

#instafeed {
  width: 100%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
   align-content: flex-end;

  .thumbnail {
    margin: 5px;
  } 

  .imageText {
    width: 300px;
    margin: 1.5px;
  }
}

/* Add a gray background color and some padding to the footer */
footer {
  clear: both;
  background-color: $whiteColor;
  padding: 25px;
}




